.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: initial;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  margin: 0 auto;
  position: relative;
  width: 1070px;
    &_background{
      background-image: url("../../../images/background@3x.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      background-size: 150%;
      height: calc(100% + 122px);
    }
  &_image_wrapper {
    align-self: center;
    &_primary {
      align-self: center;
    }
    &_secondary {
      align-self: center;
      }
  }

  &_image {
    width: 459px;
    height: 344px;
  }

  &_text {
    align-self: center;
    &_primary{

    }
    &_secondary{

    }
      &_heading {
        font: Bold 35px/77px Poppins;
        letter-spacing: 0.35px;
        margin-bottom: 9px;
      }

    &_intro {
      text-align: left;
      font: Italic 18px/29px Poppins;
      letter-spacing: 0.72px;
    }

  }
}

@media (max-width: 700px) {
  .content {
    grid-template-columns: 1fr;
  }
}
