.main {
  display: grid;
  width: 960px;
  margin: 0 auto;
  grid-template-columns: 470px 1fr;

  .main_intro {
    align-self: center;
    &_title {
      font: Bold 58px/77px Poppins;
      letter-spacing: 0.58px;

      &_text {
        font: Italic 22px/29px Poppins;
        letter-spacing: 0.88px;
        margin-top: 17px;
      }
    }
  }

  .phone_wrapper {
    display: grid;
    justify-self: self-start;

    .phone_img {
      width: 520px;
      height: auto;
      justify-self: self-start;
    }
  }
}
