  .header {
    display: grid;
    align-items: center;
    padding: 36px 25px 0 45px;
    grid-template-columns: 100px 1fr;
    width: 100%;
    position: fixed;
    z-index: 10;
  &_nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 90px;
    @media (max-width: 767px) {
      display: none;
    }

    &_text {
      font-size: 26px;
      font-weight: 700;
    }
  }
}

/*burger*/
.nav_menu_wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.w_nav_menu {
  position: relative;
  float: right;
}

.logo {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.desktop_nav_link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: color 300ms ease-out;
  color: #848484;
  font-weight: 400;
  text-decoration: none;
}

.w_nav_link {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto
}

.mobile_menu {
  display: flex;
}



