.nav {
  justify-self: end;
  @media (max-width: 767px) {
    display: none;
  }

  &_item {
    margin-left: 46px;
    letter-spacing: 0.18px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    font-size: 18px;
  }
}

.nav_item:hover {
  color: #FFBA92;
  transition: 0.5s;
}
