.nav {
  justify-self: end;
  @media (max-width: 767px) {
    display: none;
  }
  &_item {
    margin-left: 46px;
    letter-spacing: 0.18px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    font-size: 18px;
  }

}




//xs: 0,
//// Small screen / phone
//sm: 576px,
//         // Medium screen / tablet
//       md: 768px,
//                // Large screen / desktop
//              lg: 992px,
//                       // Extra large screen / wide desktop
//                     xl: 1200px
